In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import AdaBoostRegressor
from sklearn.model_selection import train_test_split,StratifiedKFold,cross_val_score,GridSearchCV
from sklearn.metrics import r2_score

In [2]:
df=pd.read_excel('Xiaomi Raw Data.xlsx')

In [3]:
df.head()

,Customer,Day,Browser,No. of Clicks,Pages Viewed,Time (min),Amount Spent (Rs.)
0,1,Monday,Chrome,13,4,8.5,2668.0
1,2,Saturday,Chrome,15,5,16.9,3469.0
2,3,Monday,Internet Explorer,20,6,7.3,5215.0
3,4,Monday,Chrome,42,6,30.1,10423.0
4,5,Saturday,Internet Explorer,20,6,13.3,5404.0

In [4]:
le=LabelEncoder()
df['Day']=le.fit_transform(df['Day'])
df['Browser']=le.fit_transform(df['Browser'])

In [5]:
df.head()

,Customer,Day,Browser,No. of Clicks,Pages Viewed,Time (min),Amount Spent (Rs.)
0,1,1,0,13,4,8.5,2668.0
1,2,2,0,15,5,16.9,3469.0
2,3,1,2,20,6,7.3,5215.0
3,4,1,0,42,6,30.1,10423.0
4,5,2,2,20,6,13.3,5404.0

In [6]:
X=df.drop(['Customer','Amount Spent (Rs.)'],axis=1)
y=df['Amount Spent (Rs.)']

In [7]:
def model_builder(m_name,score,X,y):
    X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=1)
    model=m_name()
    model.fit(X_train,y_train)
    y_pred=model.predict(X_test)
    accuracy=score(y_test,y_pred)
    #stf=StratifiedKFold(n_splits=10,shuffle=True,random_state=1)
    cv_score=np.mean(cross_val_score(estimator=model,X=X,y=y,cv=10))
    return accuracy,cv_score

In [8]:
model_builder(AdaBoostRegressor,r2_score,X,y)

(0.9714599389884615, 0.9715028237718775)

In [9]:
param={'learning_rate':[0.1,0.01,0.001],'n_estimators':[1,2,3,4,5,6,7,8,9,10]}

In [10]:
gcv=GridSearchCV(estimator=AdaBoostRegressor(),param_grid=param,cv=10)

In [11]:
gcv.fit(X,y)

GridSearchCV(cv=10, estimator=AdaBoostRegressor(),
             param_grid={'learning_rate': [0.1, 0.01, 0.001],
                         'n_estimators': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]})

In [12]:
gcv.best_params_

{'learning_rate': 0.1, 'n_estimators': 10}

In [1]:
def model_builder(model,score,X,y):
    X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=1)
    model.fit(X_train,y_train)
    y_pred=model.predict(X_test)
    accuracy=score(y_test,y_pred)
    #stf=StratifiedKFold(n_splits=10,shuffle=True,random_state=1)
    cv_score=np.mean(cross_val_score(estimator=model,X=X,y=y,cv=10))
    return accuracy,cv_score

In [16]:
model_builder(AdaBoostRegressor(learning_rate=0.1,n_estimators=10),r2_score,X,y)

(0.9528717403830866, 0.9552706623907709)