In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score,mean_squared_error
from sklearn.preprocessing import PolynomialFeatures

In [2]:
df=pd.read_excel('Cancer Dataset.xlsx')

In [3]:
df.head()

     Report  Herceptin  Doxorubicin
0  18.73178  38.887286    19.912786
1  18.74178  38.943168    19.928077
2  18.76178  39.055101    19.958675
3  18.77178  39.111152    19.973981
4  18.81780  39.369823    20.044488

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99 entries, 0 to 98
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Report       99 non-null     float64
 1   Herceptin    99 non-null     float64
 2   Doxorubicin  99 non-null     float64
dtypes: float64(3)
memory usage: 2.4 KB

In [5]:
df1=df[['Report','Herceptin']]

In [6]:
df2=df.drop('Herceptin',axis=1)

In [7]:
df1.head()

     Report  Herceptin
0  18.73178  38.887286
1  18.74178  38.943168
2  18.76178  39.055101
3  18.77178  39.111152
4  18.81780  39.369823

In [8]:
df2.head()

     Report  Doxorubicin
0  18.73178    19.912786
1  18.74178    19.928077
2  18.76178    19.958675
3  18.77178    19.973981
4  18.81780    20.044488

In [9]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99 entries, 0 to 98
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Report     99 non-null     float64
 1   Herceptin  99 non-null     float64
dtypes: float64(2)
memory usage: 1.7 KB

In [10]:
df1.describe()

           Report     Herceptin
count   99.000000     99.000000
mean    77.106739   3977.108776
std     37.728147   4381.727371
min     18.731780     38.887286
25%     46.979450    533.097602
50%     77.527120   2352.759239
75%    105.824790   5955.145582
max    144.485350  15118.436139

In [11]:
df1.skew()

Report       0.127887
Herceptin    1.126327
dtype: float64

In [12]:
y1=df1.drop('Report',axis=1)
x1=df1[['Report']]

In [13]:
x1_train,x1_test,y1_train,y1_test=train_test_split(x1,y1,test_size=0.1,random_state=10)

In [14]:
model1=LinearRegression()

In [15]:
model1.fit(x1_train,y1_train)

LinearRegression()

In [16]:
y1_pred=model1.predict(x1_test)

In [17]:
r2_score(y1_test,y1_pred)

0.7081131980799265

In [18]:
y2=df2.drop('Report',axis=1)
x2=df2[['Report']]

In [19]:
x2_train,x2_test,y2_train,y2_test=train_test_split(x2,y2,test_size=0.1,random_state=10)

In [20]:
model2=LinearRegression()

In [21]:
model2.fit(x2_train,y2_train)

LinearRegression()

In [22]:
y2_pred=model2.predict(x2_test)

In [23]:
r2_score(y2_test,y2_pred)

0.9353676696372673

##  Polynomial regression on herceptin

In [24]:
poly=PolynomialFeatures(degree=2)

In [25]:
x_poly1=poly.fit_transform(x1)

In [26]:
x1.head()

     Report
0  18.73178
1  18.74178
2  18.76178
3  18.77178
4  18.81780

In [27]:
x_poly1 #the output format is c,x,x^2

array([[1.00000000e+00, 1.87317800e+01, 3.50879582e+02],
       [1.00000000e+00, 1.87417800e+01, 3.51254318e+02],
       [1.00000000e+00, 1.87617800e+01, 3.52004389e+02],
       [1.00000000e+00, 1.87717800e+01, 3.52379724e+02],
       [1.00000000e+00, 1.88178000e+01, 3.54109597e+02],
       [1.00000000e+00, 2.07317800e+01, 4.29806702e+02],
       [1.00000000e+00, 2.20976700e+01, 4.88307019e+02],
       [1.00000000e+00, 2.30976700e+01, 5.33502359e+02],
       [1.00000000e+00, 2.60976700e+01, 6.81088379e+02],
       [1.00000000e+00, 2.70976700e+01, 7.34283719e+02],
       [1.00000000e+00, 2.71976700e+01, 7.39713253e+02],
       [1.00000000e+00, 2.76976700e+01, 7.67160923e+02],
       [1.00000000e+00, 2.80976700e+01, 7.89479059e+02],
       [1.00000000e+00, 3.00976700e+01, 9.05869739e+02],
       [1.00000000e+00, 3.14635600e+01, 9.89955608e+02],
       [1.00000000e+00, 3.24635600e+01, 1.05388273e+03],
       [1.00000000e+00, 3.34635600e+01, 1.11980985e+03],
       [1.00000000e+00, 3.44635600e+01, 1.18773697e+03],
       [1.00000000e+00, 3.54635600e+01, 1.25766409e+03],
       [1.00000000e+00, 3.57635600e+01, 1.27903222e+03],
       [1.00000000e+00, 3.61635600e+01, 1.30780307e+03],
       [1.00000000e+00, 3.62535600e+01, 1.31432061e+03],
       [1.00000000e+00, 3.69635600e+01, 1.36630477e+03],
       [1.00000000e+00, 3.74635600e+01, 1.40351833e+03],
       [1.00000000e+00, 4.68294500e+01, 2.19299739e+03],
       [1.00000000e+00, 4.71294500e+01, 2.22118506e+03],
       [1.00000000e+00, 4.85694500e+01, 2.35899147e+03],
       [1.00000000e+00, 4.98294500e+01, 2.48297409e+03],
       [1.00000000e+00, 5.09294500e+01, 2.59380888e+03],
       [1.00000000e+00, 5.18294500e+01, 2.68629189e+03],
       [1.00000000e+00, 5.38294500e+01, 2.89760969e+03],
       [1.00000000e+00, 5.61953400e+01, 3.15791624e+03],
       [1.00000000e+00, 5.72353400e+01, 3.27588414e+03],
       [1.00000000e+00, 5.81963400e+01, 3.38681399e+03],
       [1.00000000e+00, 5.89953400e+01, 3.48045014e+03],
       [1.00000000e+00, 5.91953400e+01, 3.50408828e+03],
       [1.00000000e+00, 6.01568340e+01, 3.61884468e+03],
       [1.00000000e+00, 6.21583400e+01, 3.86365923e+03],
       [1.00000000e+00, 6.55612300e+01, 4.29827488e+03],
       [1.00000000e+00, 6.67812300e+01, 4.45973268e+03],
       [1.00000000e+00, 6.78952300e+01, 4.60976226e+03],
       [1.00000000e+00, 6.79612300e+01, 4.61872878e+03],
       [1.00000000e+00, 6.89892300e+01, 4.75951386e+03],
       [1.00000000e+00, 7.05612300e+01, 4.97888718e+03],
       [1.00000000e+00, 7.29812300e+01, 5.32625993e+03],
       [1.00000000e+00, 7.49271200e+01, 5.61407331e+03],
       [1.00000000e+00, 7.52271200e+01, 5.65911958e+03],
       [1.00000000e+00, 7.65671200e+01, 5.86252387e+03],
       [1.00000000e+00, 7.71271200e+01, 5.94859264e+03],
       [1.00000000e+00, 7.75271200e+01, 6.01045434e+03],
       [1.00000000e+00, 7.77271200e+01, 6.04150518e+03],
       [1.00000000e+00, 7.81071200e+01, 6.10072219e+03],
       [1.00000000e+00, 7.82571200e+01, 6.12417683e+03],
       [1.00000000e+00, 7.82597120e+01, 6.12458252e+03],
       [1.00000000e+00, 7.89291200e+01, 6.22980598e+03],
       [1.00000000e+00, 8.09271200e+01, 6.54919875e+03],
       [1.00000000e+00, 8.16271200e+01, 6.66298672e+03],
       [1.00000000e+00, 8.17271200e+01, 6.67932214e+03],
       [1.00000000e+00, 8.18271200e+01, 6.69567757e+03],
       [1.00000000e+00, 8.42930100e+01, 7.10531153e+03],
       [1.00000000e+00, 8.58301000e+01, 7.36680607e+03],
       [1.00000000e+00, 8.69301000e+01, 7.55684229e+03],
       [1.00000000e+00, 8.77301000e+01, 7.69657045e+03],
       [1.00000000e+00, 8.82830100e+01, 7.79388985e+03],
       [1.00000000e+00, 9.01930100e+01, 8.13477905e+03],
       [1.00000000e+00, 9.36589000e+01, 8.77198955e+03],
       [1.00000000e+00, 9.46589000e+01, 8.96030735e+03],
       [1.00000000e+00, 9.55589000e+01, 9.13150337e+03],
       [1.00000000e+00, 9.69589000e+01, 9.40102829e+03],
       [1.00000000e+00, 9.76989000e+01, 9.54507506e+03],
       [1.00000000e+00, 1.03024790e+02, 1.06141074e+04],
       [1.00000000e+00, 1.05124790e+02, 1.10512215e+04],
       [1.00000000e+00, 1.05524790e+02, 1.11354813e+04],
       [1.00000000e+00, 1.05724790e+02, 1.11777312e+04],
       [1.00000000e+00, 1.05924790e+02, 1.12200611e+04],
       [1.00000000e+00, 1.09364790e+02, 1.19606573e+04],
       [1.00000000e+00, 1.10024790e+02, 1.21054544e+04],
       [1.00000000e+00, 1.12390680e+02, 1.26316650e+04],
       [1.00000000e+00, 1.18590680e+02, 1.40637494e+04],
       [1.00000000e+00, 1.21756570e+02, 1.48246623e+04],
       [1.00000000e+00, 1.21656570e+02, 1.48003210e+04],
       [1.00000000e+00, 1.22556570e+02, 1.50201129e+04],
       [1.00000000e+00, 1.23856570e+02, 1.53404499e+04],
       [1.00000000e+00, 1.24695700e+02, 1.55490176e+04],
       [1.00000000e+00, 1.25256570e+02, 1.56892083e+04],
       [1.00000000e+00, 1.26565700e+02, 1.60188764e+04],
       [1.00000000e+00, 1.27756570e+02, 1.63217412e+04],
       [1.00000000e+00, 1.28866570e+02, 1.66065929e+04],
       [1.00000000e+00, 1.30756570e+02, 1.70972806e+04],
       [1.00000000e+00, 1.31122460e+02, 1.71930995e+04],
       [1.00000000e+00, 1.33782460e+02, 1.78977466e+04],
       [1.00000000e+00, 1.34522460e+02, 1.80962922e+04],
       [1.00000000e+00, 1.36582460e+02, 1.86547684e+04],
       [1.00000000e+00, 1.40488350e+02, 1.97369765e+04],
       [1.00000000e+00, 1.40568350e+02, 1.97594610e+04],
       [1.00000000e+00, 1.40638350e+02, 1.97791455e+04],
       [1.00000000e+00, 1.41258350e+02, 1.99539214e+04],
       [1.00000000e+00, 1.42368350e+02, 2.02687471e+04],
       [1.00000000e+00, 1.44485350e+02, 2.08760164e+04]])

In [28]:
x3_train,x3_test,y3_train,y3_test=train_test_split(x_poly1,y1,test_size=0.1,random_state=1)

In [29]:
model3=LinearRegression()

In [30]:
model3.fit(x3_train,y3_train)

LinearRegression()

In [31]:
y3_pred=model3.predict(x3_test)

In [32]:
r2_score(y3_test,y3_pred)

0.9984884890269637

####  Polynimial regression on doxorubicin

In [33]:
x_poly2=poly.fit_transform(x2)

In [34]:
x2.head()

     Report
0  18.73178
1  18.74178
2  18.76178
3  18.77178
4  18.81780

In [35]:
x_poly2

array([[1.00000000e+00, 1.87317800e+01, 3.50879582e+02],
       [1.00000000e+00, 1.87417800e+01, 3.51254318e+02],
       [1.00000000e+00, 1.87617800e+01, 3.52004389e+02],
       [1.00000000e+00, 1.87717800e+01, 3.52379724e+02],
       [1.00000000e+00, 1.88178000e+01, 3.54109597e+02],
       [1.00000000e+00, 2.07317800e+01, 4.29806702e+02],
       [1.00000000e+00, 2.20976700e+01, 4.88307019e+02],
       [1.00000000e+00, 2.30976700e+01, 5.33502359e+02],
       [1.00000000e+00, 2.60976700e+01, 6.81088379e+02],
       [1.00000000e+00, 2.70976700e+01, 7.34283719e+02],
       [1.00000000e+00, 2.71976700e+01, 7.39713253e+02],
       [1.00000000e+00, 2.76976700e+01, 7.67160923e+02],
       [1.00000000e+00, 2.80976700e+01, 7.89479059e+02],
       [1.00000000e+00, 3.00976700e+01, 9.05869739e+02],
       [1.00000000e+00, 3.14635600e+01, 9.89955608e+02],
       [1.00000000e+00, 3.24635600e+01, 1.05388273e+03],
       [1.00000000e+00, 3.34635600e+01, 1.11980985e+03],
       [1.00000000e+00, 3.44635600e+01, 1.18773697e+03],
       [1.00000000e+00, 3.54635600e+01, 1.25766409e+03],
       [1.00000000e+00, 3.57635600e+01, 1.27903222e+03],
       [1.00000000e+00, 3.61635600e+01, 1.30780307e+03],
       [1.00000000e+00, 3.62535600e+01, 1.31432061e+03],
       [1.00000000e+00, 3.69635600e+01, 1.36630477e+03],
       [1.00000000e+00, 3.74635600e+01, 1.40351833e+03],
       [1.00000000e+00, 4.68294500e+01, 2.19299739e+03],
       [1.00000000e+00, 4.71294500e+01, 2.22118506e+03],
       [1.00000000e+00, 4.85694500e+01, 2.35899147e+03],
       [1.00000000e+00, 4.98294500e+01, 2.48297409e+03],
       [1.00000000e+00, 5.09294500e+01, 2.59380888e+03],
       [1.00000000e+00, 5.18294500e+01, 2.68629189e+03],
       [1.00000000e+00, 5.38294500e+01, 2.89760969e+03],
       [1.00000000e+00, 5.61953400e+01, 3.15791624e+03],
       [1.00000000e+00, 5.72353400e+01, 3.27588414e+03],
       [1.00000000e+00, 5.81963400e+01, 3.38681399e+03],
       [1.00000000e+00, 5.89953400e+01, 3.48045014e+03],
       [1.00000000e+00, 5.91953400e+01, 3.50408828e+03],
       [1.00000000e+00, 6.01568340e+01, 3.61884468e+03],
       [1.00000000e+00, 6.21583400e+01, 3.86365923e+03],
       [1.00000000e+00, 6.55612300e+01, 4.29827488e+03],
       [1.00000000e+00, 6.67812300e+01, 4.45973268e+03],
       [1.00000000e+00, 6.78952300e+01, 4.60976226e+03],
       [1.00000000e+00, 6.79612300e+01, 4.61872878e+03],
       [1.00000000e+00, 6.89892300e+01, 4.75951386e+03],
       [1.00000000e+00, 7.05612300e+01, 4.97888718e+03],
       [1.00000000e+00, 7.29812300e+01, 5.32625993e+03],
       [1.00000000e+00, 7.49271200e+01, 5.61407331e+03],
       [1.00000000e+00, 7.52271200e+01, 5.65911958e+03],
       [1.00000000e+00, 7.65671200e+01, 5.86252387e+03],
       [1.00000000e+00, 7.71271200e+01, 5.94859264e+03],
       [1.00000000e+00, 7.75271200e+01, 6.01045434e+03],
       [1.00000000e+00, 7.77271200e+01, 6.04150518e+03],
       [1.00000000e+00, 7.81071200e+01, 6.10072219e+03],
       [1.00000000e+00, 7.82571200e+01, 6.12417683e+03],
       [1.00000000e+00, 7.82597120e+01, 6.12458252e+03],
       [1.00000000e+00, 7.89291200e+01, 6.22980598e+03],
       [1.00000000e+00, 8.09271200e+01, 6.54919875e+03],
       [1.00000000e+00, 8.16271200e+01, 6.66298672e+03],
       [1.00000000e+00, 8.17271200e+01, 6.67932214e+03],
       [1.00000000e+00, 8.18271200e+01, 6.69567757e+03],
       [1.00000000e+00, 8.42930100e+01, 7.10531153e+03],
       [1.00000000e+00, 8.58301000e+01, 7.36680607e+03],
       [1.00000000e+00, 8.69301000e+01, 7.55684229e+03],
       [1.00000000e+00, 8.77301000e+01, 7.69657045e+03],
       [1.00000000e+00, 8.82830100e+01, 7.79388985e+03],
       [1.00000000e+00, 9.01930100e+01, 8.13477905e+03],
       [1.00000000e+00, 9.36589000e+01, 8.77198955e+03],
       [1.00000000e+00, 9.46589000e+01, 8.96030735e+03],
       [1.00000000e+00, 9.55589000e+01, 9.13150337e+03],
       [1.00000000e+00, 9.69589000e+01, 9.40102829e+03],
       [1.00000000e+00, 9.76989000e+01, 9.54507506e+03],
       [1.00000000e+00, 1.03024790e+02, 1.06141074e+04],
       [1.00000000e+00, 1.05124790e+02, 1.10512215e+04],
       [1.00000000e+00, 1.05524790e+02, 1.11354813e+04],
       [1.00000000e+00, 1.05724790e+02, 1.11777312e+04],
       [1.00000000e+00, 1.05924790e+02, 1.12200611e+04],
       [1.00000000e+00, 1.09364790e+02, 1.19606573e+04],
       [1.00000000e+00, 1.10024790e+02, 1.21054544e+04],
       [1.00000000e+00, 1.12390680e+02, 1.26316650e+04],
       [1.00000000e+00, 1.18590680e+02, 1.40637494e+04],
       [1.00000000e+00, 1.21756570e+02, 1.48246623e+04],
       [1.00000000e+00, 1.21656570e+02, 1.48003210e+04],
       [1.00000000e+00, 1.22556570e+02, 1.50201129e+04],
       [1.00000000e+00, 1.23856570e+02, 1.53404499e+04],
       [1.00000000e+00, 1.24695700e+02, 1.55490176e+04],
       [1.00000000e+00, 1.25256570e+02, 1.56892083e+04],
       [1.00000000e+00, 1.26565700e+02, 1.60188764e+04],
       [1.00000000e+00, 1.27756570e+02, 1.63217412e+04],
       [1.00000000e+00, 1.28866570e+02, 1.66065929e+04],
       [1.00000000e+00, 1.30756570e+02, 1.70972806e+04],
       [1.00000000e+00, 1.31122460e+02, 1.71930995e+04],
       [1.00000000e+00, 1.33782460e+02, 1.78977466e+04],
       [1.00000000e+00, 1.34522460e+02, 1.80962922e+04],
       [1.00000000e+00, 1.36582460e+02, 1.86547684e+04],
       [1.00000000e+00, 1.40488350e+02, 1.97369765e+04],
       [1.00000000e+00, 1.40568350e+02, 1.97594610e+04],
       [1.00000000e+00, 1.40638350e+02, 1.97791455e+04],
       [1.00000000e+00, 1.41258350e+02, 1.99539214e+04],
       [1.00000000e+00, 1.42368350e+02, 2.02687471e+04],
       [1.00000000e+00, 1.44485350e+02, 2.08760164e+04]])

In [36]:
x4_train,x4_test,y4_train,y4_test=train_test_split(x_poly2,y2,test_size=0.1,random_state=1)

In [37]:
model4=LinearRegression()

In [38]:
model4.fit(x4_train,y4_train)

LinearRegression()

In [39]:
y4_pred=model4.predict(x4_test)

In [40]:
r2_score(y4_test,y4_pred)

1.0